[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm
[submodule "libs/FastNoise2"]
	path = libs/FastNoise2
	url = https://github.com/Auburn/FastNoise2.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
